html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0d1321;
    height: 100%;
    display: grid;
    grid-template-rows: 0.4fr 0.5fr 0.4fr 3fr 1.4fr;
    grid-template-columns: 50% 50%;
}

header {
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1 / 3;
}

#logo_princ {
    width: 100px;
    height: 100px;
}

.banner_princ_1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    background-color: #1d2d44;
    grid-row: 2;
    grid-column: 1 / 3;
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 500;
    font-size: large;
}

.banner_princ_2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    background-color: #3e5c76;
    grid-row: 3;
    grid-column: 1 / 3;
    padding-top: 5px;
    padding-left: 250px;

}

/*------------------------------------------*/

.cuerpo_pagina_info {
    display: flex;
    flex-direction: column;
    background-color: #f0ebd8; 
    grid-row: 4;
    grid-column: 1 / 2;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cuerpo_pagina_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ebd8;
    grid-row: 4;
    grid-column: 2 / 3;
}

.cuerpo_pagina_img img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.articulo_main h1,
.articulo_main p {
    color: #0d1321;
    padding-left: 350px;
}

.articulo_main h1 {
    font-size : 70px;
}

.articulo_main p {
    font-size : 20px;
    padding-bottom: 10px;
}

/*------------------------------------------*/

footer {
    display: grid;
    background-color: #748cab;
    grid-row: 5;
    grid-column: 1 / 3;
    grid-template-columns: 2fr 1fr;
}

.info_pie_pagina {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info_pie_pagina h1,
.info_pie_pagina p  {
    color: #0d1321;
    padding-top: 5px;
    padding-left: 350px;
}

.info_pie_pagina h1 {
    font-weight: 900;
}

.img_pie_pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #748cab;
    grid-column: 2 / 3;
}

.img_pie_pagina img {
    max-width: 50%;
    height: auto;
    border-radius: 10%;
}

